/* 
File Name: App.css
Student Name: Wardatul Keskin
Student ID: 301294696
Date: 2024-09-26
*/

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-color: rgb(41, 41, 41);
  height: auto;
}
#footer {
  margin-top: 33px;
  font-size: small;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 33px;
}

